body {
    font-family: arial, sans-serif;
}

nav a {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}

a {
    text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
/*  border: 1px solid red;*/
  margin-top: 10px;
  margin-right: 20px;
}

.link_nav {
  padding: 10px;
/*  margin: 10px;*/
/*  border: 1px solid green;*/
}

#button {
    width: 75px;
    height: 13px;
    background-color: rgb(67, 135, 253);
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    font-weight: bold;
}

#logo {
  display: flex;
  justify-content: center;
}

img[alt="Google"] {
  margin-top: 130px;
}

#search {
  display: flex;
  justify-content:
}

input {
  width: 700px;
  box-shadow: 0px 1px 1px #d3d3d3;  
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;    
/*    Flex-direction change main-axis => align-items works for justify-content: */
/*    border: 1px solid green; */
}

#logo, #search_submit {
    padding: 25px;
}

#search_bar {
    width: 585px;
    height: 45px;
    box-shadow: x2px 2px 2px 1px rgba(220, 220, 220, .2);
/*    border: 1px red solid;*/
    background-color: white;
}

footer, footer a {
    color: rgba(0,0,0,0.54);
    background-color: #f2f2f2;
    border: 1px solid rgba(0,0,0,0.54);
}

#infos {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #f2f2f2; 
}
#pub, #conso {
    border: 1px solid red;
}